@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&family=Noto+Sans:wght@400;700&display=swap");
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: 62.5%;
  font-family: "Noto Sans JP", sans-serif;
}

.container {
  margin: 0 10%;
}

p,
button,
a {
  font-family: "Noto Sans", sans-serif;
}

button a {
  color: white;
}

.slideshow,
.section-teams,
.feature {
  height: 80vh;
}
.slideshow .welcome-info > *,
.slideshow .team-text > *,
.section-teams .welcome-info > *,
.section-teams .team-text > *,
.feature .welcome-info > *,
.feature .team-text > * {
  margin-bottom: 2rem;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  padding-left: 10%;
  padding-right: 50%;
  color: white;
  display: flex;
  align-items: center;
}
.overlay h5 {
  font-size: 5rem;
  line-height: 5.5rem;
}
.overlay p {
  font-size: 1.2rem;
}

button {
  padding: 1rem 2rem;
  background-color: black;
  color: whitesmoke;
  border: none;
  cursor: pointer;
}

.featured {
  display: flex;
}

ul {
  display: flex;
  list-style: none;
}
ul li {
  margin-right: 2rem;
}
ul li a {
  text-decoration: none;
  color: gray;
  font-size: 1.2rem;
  font-size: 900;
}

a {
  text-decoration: none;
  color: black;
}

.hidden-menu {
  display: none !important;
}

.hidden {
  visibility: hidden;
  display: none;
  transition: all 0.7 ease-in-out;
}

.navbar {
  height: 20vh;
  display: flex;
  align-items: center;
}
.navbar h5 {
  font-size: 2.5rem;
  margin-right: 4rem;
}

.slideshow .project-paramour {
  background-image: url(./img/home-main.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.mobile-navbar {
  display: flex;
  height: 20vh;
  justify-content: space-between;
  align-items: center;
}
.mobile-navbar h5 {
  font-size: 2.5rem;
}
.mobile-navbar .icon svg {
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.mobile-menu {
  z-index: 30;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-menu .menu-content {
  width: 100%;
  height: 100%;
  position: relative;
}
.mobile-menu .menu-content svg {
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
}
.mobile-menu .menu-content ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mobile-menu .menu-content ul li {
  padding-bottom: 2rem;
  font-size: 1.4rem;
  margin-right: 0;
}

.welcome-section {
  height: 100vh;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  align-items: center;
  position: relative;
}
.welcome-section span {
  color: #b0b9cc;
  position: absolute;
  font-size: 15rem;
  top: 2vh;
  left: 2vw;
}
.welcome-section span h5 {
  letter-spacing: 10px;
}
.welcome-section .welcome-left {
  padding-left: 25%;
  padding-right: 15%;
}
.welcome-section .welcome-left h4 {
  font-size: 2.5rem;
  line-height: 1;
  margin: 4rem 0 2rem 0;
}
.welcome-section .welcome-left p {
  font-size: 1rem;
}
.welcome-section img {
  height: 60%;
  width: 30%;
}

.section-teams {
  background-image: url(./img/team.jpg);
  background-position: center;
  background-size: cover;
  margin-bottom: 5vh;
}

.feature {
  display: flex;
  flex-direction: column;
}
.feature .featured-heading {
  margin-bottom: 2rem;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feature .featured-heading h2 {
  font-size: 3.5rem;
}
.feature .featured-heading button {
  font-weight: 700;
  padding: 1rem 4rem;
}
.feature .featured-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60vh;
}
.feature .featured-content > * {
  height: 100%;
  width: 30%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.feature .featured-content > * .opacity {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.feature .featured-content > * span {
  color: rgba(255, 255, 255, 0.9);
  font-size: 10rem;
  position: absolute;
  top: 5%;
  right: -10px;
  letter-spacing: 0;
}
.feature .featured-content > * p {
  font-size: 1rem;
}
.feature .featured-content > * a {
  color: white;
  cursor: pointer;
}
.feature .featured-content > * .featured-text {
  color: white;
  font-size: 1.2rem;
  position: absolute;
  bottom: 10%;
  left: 5%;
}
.feature .featured-content .featured-content-one {
  background-image: url(./img/featured/featured-1.jpg);
}
.feature .featured-content .featured-content-two {
  background-image: url(./img/featured/featured-2.jpg);
}
.feature .featured-content .featured-content-three {
  background-image: url(./img/featured/featured-3.jpg);
}

.footer .footer-main {
  height: 20vh;
  width: 93%;
  display: flex;
  align-items: center;
  position: relative;
}
.footer .footer-main .arch {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 20%;
  font-size: 1.4rem;
  color: white;
  background-color: black;
}
.footer .footer-main .menu {
  height: 100%;
  width: 100%;
  padding-left: 5rem;
  align-self: center;
  background-color: #eeeff4;
  display: flex;
  align-items: center;
}
.footer .footer-main button {
  position: absolute;
  font-weight: 700;
  right: -8%;
}

body {
  overflow-x: hidden;
}

.about-section {
  height: 80vh;
  position: relative;
}
.about-section img {
  width: 50%;
  height: 100%;
  object-fit: cover;
}
.about-section h5 {
  position: absolute;
  top: 0%;
  right: 0;
  color: #b0b9cc;
  font-size: 15rem;
}
.about-section .text-content {
  position: absolute;
  background-color: white;
  width: 60%;
  height: 70%;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 10% 0 0 15%;
}
.about-section .text-content::before {
  content: "";
  margin-bottom: 10%;
  width: 10%;
  border-top: 1px solid gray;
}
.about-section .text-content h6 {
  font-size: 3rem;
  line-height: 1.1;
  font-weight: 700;
  margin-bottom: 3rem;
}
.about-section .text-content p {
  width: 70%;
  font-size: 1rem;
}

.section-info {
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
}
.section-info__content-section {
  width: 40%;
  padding-right: 5%;
}
.section-info__content-section h6 {
  font-size: 3rem;
  line-height: 1.1;
  font-weight: 700;
  margin-bottom: 3rem;
}
.section-info__content-section p {
  width: 90%;
  font-size: 1rem;
  margin-bottom: 0.8rem;
}
.section-info__content-image {
  width: 60%;
}
.section-info__content-image img {
  width: 60%;
  height: auto;
}

.section-team {
  height: 90vh;
  display: flex;
  align-items: center;
}
.section-team > * {
  width: 50%;
}
.section-team__content h6 {
  font-size: 3rem;
  line-height: 1.1;
  font-weight: 700;
}
.section-team__team {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 2.2rem;
  column-gap: 1rem;
}
.section-team__team h6.name {
  font-weight: 700;
  font-size: 1rem;
  margin-block-end: 0;
  padding-left: 1rem;
}
.section-team__team h6.title {
  font-size: 0.8rem;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-left: 1rem;
}
.section-team img {
  height: 80%;
  width: 100%;
  object-fit: contain;
}

.portfolio-section {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.portfolio-section .portfolio-outter {
  height: 60vh;
  width: calc(100% / 3);
  flex: 1 0 33.33%;
  padding: 1% 2%;
}
.portfolio-section .portfolio-outter .portfolio-inner {
  height: 100%;
  position: relative;
}
.portfolio-section .portfolio-info {
  position: absolute;
  bottom: 10%;
  left: 5%;
}
.portfolio-section .portfolio-info h5 {
  font-size: 1rem;
  line-height: 1.3rem;
}
.portfolio-section .overlay {
  padding: 0;
}
.portfolio-section .bg-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.portfolio-section .portfolio-one {
  background-image: url(./img/porfile-page/profile-1.jpg);
}
.portfolio-section .portfolio-two {
  background-image: url(./img/porfile-page/profile-2.jpg);
}
.portfolio-section .portfolio-three {
  background-image: url(./img/porfile-page/profile-3.jpg);
}
.portfolio-section .portfolio-four {
  background-image: url(./img/porfile-page/profile-4.jpg);
}
.portfolio-section .portfolio-five {
  background-image: url(./img/porfile-page/profile-5.jpg);
}
.portfolio-section .portfolio-six {
  background-image: url(./img/porfile-page/profile-6.jpg);
}
.portfolio-section .portfolio-seven {
  background-image: url(./img/porfile-page/profile-7.jpg);
}
.portfolio-section .portfolio-eight {
  background-image: url(./img/porfile-page/profile-8.jpg);
}
.portfolio-section .portfolio-nine {
  background-image: url(./img/porfile-page/profile-9.jpg);
}

.contact-main {
  height: 80vh;
  position: relative;
}
.contact-main img {
  width: 50%;
  height: 100%;
}
.contact-main h5 {
  position: absolute;
  top: 0%;
  right: 0;
  color: #b0b9cc;
  font-size: 15rem;
}
.contact-main .text-content {
  position: absolute;
  background-color: white;
  width: 60%;
  height: 70%;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 10% 0 0 15%;
}
.contact-main .text-content::before {
  content: "";
  margin-bottom: 10%;
  width: 10%;
  border-top: 1px solid gray;
}
.contact-main .text-content h6 {
  font-size: 3rem;
  line-height: 1.1;
  font-weight: 700;
  margin-bottom: 3rem;
}
.contact-main .text-content p {
  width: 70%;
  font-size: 1rem;
}

.contact-details {
  height: 55vh;
  display: flex;
}
.contact-details__heading {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 4rem;
}
.contact-details__heading h6 {
  line-height: 2.8rem;
}
.contact-details__content {
  flex: 70%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.contact-details__content a {
  margin-top: 5rem;
  font-size: 0.8rem;
  font-weight: 100%;
}
.contact-details th {
  font-size: 1.1rem;
  font-weight: 500s;
  margin-bottom: 2rem;
  height: 50px;
}
.contact-details td {
  font-weight: 50%;
  color: gray;
  height: 15px;
  font-size: 0.8rem;
}

.contact-form {
  height: 70vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-form__heading {
  font-size: 4rem;
  line-height: 2.8rem;
}
.contact-form__content {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
}
.contact-form .form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-form .form input {
  height: 4rem;
  padding-left: 1rem;
  border: none;
  border-bottom: 2px solid gray;
  font-size: 1.2rem;
}
.contact-form .form input:active {
  border: 0;
}
.contact-form .form .message {
  height: 15vh;
}
.contact-form .form .button {
  padding: 0;
  color: transparent;
  width: 30%;
  align-self: flex-end;
  border: 0;
  background-color: black;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

.map-section {
  height: 50vh;
}
.map-section > * {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1025px) {
  button {
    font-size: 1rem;
  }

  .navbar h5 a {
    font-size: 2.3rem;
  }
  .navbar a {
    font-size: 1.4rem;
  }

  .slideshow {
    height: 90vh;
  }
  .slideshow p {
    font-size: 1.4rem;
  }

  .welcome-section {
    margin-bottom: 0;
  }
  .welcome-section h5 {
    position: absolute;
    font-size: 10rem;
    margin-right: 0;
    left: -30px;
  }
  .welcome-section img {
    display: none;
  }
  .welcome-section .welcome-left {
    padding-left: 0%;
  }
  .welcome-section .welcome-left h4 {
    font-size: 4rem;
    margin: 4rem 0 2rem 0;
  }

  .section-teams .overlay {
    padding-right: 20%;
  }
  .section-teams .overlay .team-text h5 {
    margin-bottom: 3rem;
  }

  .feature .featured-heading {
    margin-bottom: 2rem;
  }

  .portfolio-section {
    flex-direction: column;
  }
  .portfolio-section .portfolio-outter {
    width: 100%;
    margin-bottom: 2rem;
  }
  .portfolio-section .portfolio-outter:last-of-type {
    margin-bottom: 5rem;
  }
  .portfolio-section .portfolio-outter .portfolio-inner {
    height: 50vh;
  }

  .about-section h5 {
    font-size: 10rem;
    top: 5rem;
    right: 2.4rem;
  }
  .about-section .text-content {
    width: 80%;
    height: 80%;
    padding-top: 20%;
  }
  .section-info__content-section {
    width: 90%;
    padding-right: 5%;
  }
  .section-info__content-section p {
    margin-bottom: 2rem;
  }
  .section-info__content-image {
    display: none;
  }

  .section-team {
    flex-direction: column;
    min-height: 130vh;
  }
  .section-team__content {
    width: 10%;
    align-self: flex-start;
    margin-bottom: 4rem;
  }
  .section-team__team {
    width: 100%;
    row-gap: 1.5rem;
    column-gap: 0.5rem;
  }
  .section-team__team img {
    height: 80%;
    width: 80%;
  }

  .contact-main h5 {
    font-size: 10rem;
    top: 5rem;
    right: 0;
  }
  .contact-main .text-content {
    width: 80%;
    height: 80%;
    padding-top: 20%;
  }
  .contact-form {
    flex-direction: column;
  }
  .contact-form__heading {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .contact-form__heading br {
    display: none;
  }
  .contact-form__content {
    width: 100%;
  }
  .contact-form__content form {
    width: 100%;
  }
  .contact-form__content form .button {
    width: 15%;
  }
}
@media screen and (max-width: 769px) {
  .welcome-section {
    height: 80vh;
  }
  .welcome-section h5 {
    font-size: 7rem;
    margin-bottom: 1rem;
  }
  .welcome-section .welcome-left p {
    font-size: 1.2rem;
    margin-bottom: 0.7rem;
  }

  .section-teams .overlay {
    padding-right: 10%;
  }

  .feature .featured-content {
    flex-direction: column;
  }
  .feature .featured-content > * {
    width: 100%;
    margin-bottom: 1rem;
  }
  .feature .featured-content span {
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  .portfolio-section .portfolio-outter h5 {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }
  .portfolio-section .portfolio-outter p {
    font-size: 1.4rem;
  }

  .about-section p {
    font-size: 2rem;
  }
  .about-section img {
    width: 60%;
  }
  .about-section h5 {
    font-size: 8rem;
    top: 18%;
  }
  .about-section .text-content {
    padding-top: 30%;
  }

  .section-team__team {
    height: 100vh;
    align-items: center;
    padding-left: 2rem;
  }

  .contact-main p {
    font-size: 2rem;
  }
  .contact-main img {
    width: 60%;
  }
  .contact-main h5 {
    font-size: 7rem;
    top: 18%;
  }
  .contact-main .text-content {
    padding-top: 30%;
  }

  .contact-details__content {
    flex-direction: column;
  }

  .footer {
    margin: 0;
  }
  .footer .footer-main {
    height: 15vh;
  }
}
@media screen and (max-width: 732px) {
  button {
    padding: 0.7rem 1rem;
  }

  .navbar {
    visibility: hidden;
    display: none;
  }

  .hidden-menu {
    display: flex !important;
  }
  .hidden-menu h5 {
    font-size: 1.5rem;
  }
  .hidden-menu .icon svg {
    height: 40px;
    width: 40px;
  }

  .slideshow {
    margin: 0;
  }
  .slideshow .overlay {
    padding: 0 10%;
  }
  .slideshow h5 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .slideshow p {
    width: 90%;
    font-size: 0.8rem;
  }

  .welcome-section {
    max-height: 80vh;
    margin-top: 5%;
    padding-bottom: 15%;
  }
  .welcome-section span {
    display: none;
  }
  .welcome-section .welcome-left h4 {
    font-size: 2.5rem;
  }
  .welcome-section .welcome-left p {
    width: 100%;
    font-size: 0.8rem;
  }

  .section-teams {
    margin: 0;
  }
  .section-teams .overlay {
    padding: 0 10%;
  }
  .section-teams .team-text h5 {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: 0.5rem;
  }

  .feature {
    height: 100vh;
  }
  .feature .featured-heading {
    height: 30%;
    margin: 1rem 0;
  }
  .feature .featured-heading h2 {
    font-size: 2.5rem;
  }
  .feature .featured-heading button {
    padding: 0.8rem 2rem;
  }
  .feature .featured-content {
    height: auto;
  }
  .feature .featured-content > * {
    height: 40vh;
  }

  .portfolio-section {
    margin: 0 1rem;
  }
  .portfolio-section .portfolio-outter .portfolio-inner {
    height: 40vh;
  }
  .portfolio-section .portfolio-outter .portfolio-inner p {
    font-size: 1rem;
  }
  .portfolio-section .portfolio-outter .portfolio-inner h5 {
    font-size: 1.5rem;
  }

  .about-section {
    display: none;
    overflow-x: hidden;
  }

  .section-info {
    margin-top: 0 2.5rem;
    height: 100vh;
    margin-left: 0 10%;
    width: 90%;
  }

  .section-team {
    height: 410vh;
  }
  .section-team__content {
    margin-bottom: 1rem;
    width: 100%;
  }
  .section-team__team {
    margin-top: 3rem;
    padding-left: 0;
    grid-template-columns: 1fr;
    width: 100%;
  }
  .section-team__team > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }
  .section-team__team img {
    width: 50%;
    overflow: hidden;
  }

  .contact-main {
    display: none;
  }

  .contact-details {
    height: 80vh;
    flex-direction: row;
  }
  .contact-details__heading {
    flex: 1;
  }
  .contact-details__content {
    flex: 3;
  }

  .map-section {
    height: 70vh;
    margin: 5rem 10%;
  }

  .contact-form {
    height: 100vh;
  }

  .footer {
    padding-top: 10vh;
    height: 110vh;
  }
  .footer .footer-main {
    margin: 0;
    height: 100%;
    width: 100%;
    flex-direction: column;
    position: relative;
  }
  .footer .footer-main .arch {
    font-size: 2rem;
    width: 60%;
    height: 15vh;
    position: absolute;
    top: -8%;
  }
  .footer .footer-main .menu {
    justify-content: center;
    flex-direction: column;
    padding-left: 0;
  }
  .footer .footer-main .menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .footer .footer-main .menu ul li {
    margin-bottom: 2rem;
    margin-right: 0;
  }
  .footer .footer-main button {
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 412px) {
  .navbar {
    visibility: hidden;
    display: none;
  }

  .hidden-menu {
    display: flex !important;
  }

  .slideshow.container {
    margin: 0;
  }

  .slideshow .overlay {
    padding: 0 5%;
  }
  .slideshow h5 {
    font-size: 3rem;
    line-height: 3rem;
  }
  .slideshow p {
    width: 90%;
    font-size: 1rem;
  }

  .welcome-section {
    height: 150vh;
  }
  .welcome-section h5 {
    display: none;
  }
  .welcome-section .welcome-left {
    padding-right: 0;
  }
  .welcome-section .welcome-left h4 {
    font-size: 3rem;
  }
  .welcome-section .welcome-left p {
    overflow-wrap: anywhere;
    font-size: 1rem;
  }

  .section-teams {
    margin: 0;
  }
  .section-teams h5 {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .feature {
    margin: 0;
    height: auto;
  }
  .feature .featured-heading {
    font-family: 2.5rem;
    margin: 3rem 10%;
  }
  .feature .featured-heading button {
    display: none;
  }
  .feature .featured-content {
    max-height: 200vh;
  }
  .feature .featured-content > * {
    height: 60vh;
    margin-bottom: 1rem;
  }

  .contact-details {
    flex-direction: column;
  }

  .section-team {
    height: 140vh;
  }

  .contact-form {
    height: 80vh;
  }

  .footer {
    height: 90vh;
  }
}
@media screen and (max-height: 412px) {
  .project-paramour h5 {
    font-size: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
